@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --bungalow: 41 35% 44%;

    --muted: 0 0% 96%;
    --muted-foreground: 215.4 16.3% 30%;
  }
}